{% extends 'base.html' %}
{% block content %}

    <h1>Product List</h1>
    <div id="products"></div>

    <script>
        fetch('/api/products/')
            .then(response => response.json())
            .then(data => {
                data.forEach(product => {
                    const productElement = document.createElement('div');
                    productElement.innerHTML =
                    `
                        <h2>${product.title}</h2>
                        
                        
                    `;

        document.getElementById('products').appendChild(productElement);
            });
        })
        .catch(error => console.error('Error fetching data:', error));
    </script>

{% endblock %}